div.ScoreboardRoot {
    text-align: left;
    padding: 10px;
    border: 2px solid black;
}

div.ScoreboardRow {
    margin-left: 15px;
}

h1 {
    font-size: x-large;
}

h2 {
    font-size: large
}

h3 {
    font-size: medium;
    margin-bottom: 5px;
}

div.TotalRow > div.TotalName {
    display: inline;
}

div.TotalRow > div.TotalValue {
    float: right;
}