div.Welcome {
  text-align: center;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%)
}

button {
  padding-left: 16px;
  padding-top: 10px;
  padding-right: 16px;
  padding-bottom: 10px;
  font-size: large;
  border-radius: 10px;
  border-width: 0;
}